/* Substance Component styles */
@import '../node_modules/substance/dist/substance.next.css';
/* You may want to use your own reset and pagestyle */
@import '../node_modules/substance/dist/substance-reset.css';
@import '../node_modules/substance/dist/substance-pagestyle.css';

/* Using url here, so font-awesome does not get bundled. */
@import url('./font-awesome/css/font-awesome.min.css');

/* comment */
@import '../lib/comment/_comment.css';
/* simple-writer*/
@import '../lib/simple-writer/_simple-writer.css';
@import '../lib/simple-writer/_simple-writer-overlay-tools.css';
body { overflow: hidden; }